<div class="styleContainer">
  <div class="StyleEditorDisplay">

  </div>
  <div class="styleTemplates styleEditor">
    <div class="template model">
      <!--
      <label>
        <input type="number" class="gridX" min="0" step="1" placeholder="off">
        <span>Grid X</span>
      </label>
      <label>
        <input type="number" class="gridY" min="0" step="1" placeholder="off">
        <span>Grid Y</span>
      </label>
      <label>
        <input type="number" class="zoomX" min="0.0001" step="0.1" placeholder="1">
        <span>Zoom</span>
      </label>
      <label display = "none">
        <input type="number" class="zoomY" min="0.0001" step="0.1" placeholder="1">
        <span>Zoom Y</span>
      </label>
      <label><input type="checkbox" class="showGrid"><span>Show grid</span></label>
      <label><input type="color" class="graphColor"><span>Background color</span></label>
      -->
      <table><tbody>
      <tr>
        <td>Grid X</td>
        <td><input type="number" class="gridX" min="0" step="1" placeholder="off"></td>
      </tr>
      <tr>
        <td>Grid Y</td>
        <td><input type="number" class="gridY" min="0" step="1"  placeholder="off"></td>
      </tr>
      <tr>
        <td>Zoom</td>
        <td><input type="number" class="zoomX" min="0.0001" step="0.1" placeholder="1"></td>
        <td style="display: none">X: <input type="number" class="zoomXOLD" min="0.0001" step="0.1" placeholder="1"> Y: <input type="number" class="zoomY" min="0.0001" step="0.1" placeholder="1"></td>
      </tr>
      <tr><td colspan="2"><label><input type="checkbox" class="showGrid">Show grid</label></td></tr>
      <tr><td colspan="2"><label><input type="checkbox" class="useGrid">Use grid</label></td></tr>
      <tr><td colspan="2"><label><input type="color" class="gridColor1">Grid color 1</label></td></tr>
      <tr><td colspan="2"><label><input type="color" class="gridColor2">Grid color 2</label></td></tr>
      </tbody></table>

      <label class="onlyVerticalContainer">
        <button class="btn btn-primary colorschemeopener">Manage color scheme</button>
      </label>

      <label class="onlyVerticalContainer" uif="!running">
        <button class="btn btn-primary layout start dynamic_uif">Start auto-layouting</button>
      </label>


      <div class="layoutingRoot" uif="running">
        <h5>Auto-layout options</h5>
        <label class="onlyVerticalContainer">
          <button class="btn btn-primary layout stabilize">Stabilize</button>
          <span style="margin:auto 0.5rem">in</span>
          <input type="number" class="stabilizeSteps lopt" min="0" step="1" placeholder="off" value="10" data-key="custom.stabilizeSteps">
          <span style="margin-left: 0.5rem">steps</span>
        </label>
        <label class="onlyVerticalContainer"><button class="btn btn-primary layout stop">Stop</button></label>

        <label>How to manage edge points?
          <select class="edgePointTreatment form-group"><optgroup label="How to manage edge points?">
            <option value="delete">Remove them</option>
            <option value="vertex" selected>Treat them as vertexes</option>
            <option value="ignore">Keep absolute position (ignore)<option>
            <option value="relative">Keep relative position between source & target</option>
            <!--
              1) treat them as vertex (default)
              2) keep absolute position (ignore) (might cause a mess because they stand still)
              3) keep relative position. Rimane a (x%, y%) distanza tra source e target, memorizzo un vettore direzione
                 con modulo in percentuale sulla distanza tra i 2 vertici,
                 così rispetto ai vertici rimane statico, anche se in realtà si è mosso assieme a loro.
            -->
          </optgroup></select>
        </label>
        <div>
          <label>
            <input type="checkbox" class="lopt dynamic_uif" data-key="layout.hierarchical.enabled">Hierarchical
          </label>
          <label>
            <input type="checkbox" class="lopt dynamic_uif" data-key="physics.enabled">
            Physics
          </label>
          <div uif="physics">
            <label>Simulation mode
              <select class="dynamic_uif lopt" data-key="physics.solver">
                <optgroup label="Simulation">
                  <option value="barnesHut">BarnesHut</option>
                  <option value="forceAtlas2Based">Force Atlas 2</option>
                  <option value="repulsion">Repulsion</option>
                  <option value="hierarchicalRepulsion">hierarchicalRepulsion</option>
                </optgroup>
              </select>
            </label>

            <div uif="hr">
              <label>
                <input type="checkbox" class="lopt" data-key="layout.hierarchical.blockShifting">
                Block shifting
              </label>
              <label>
                <input type="checkbox" class="lopt" data-key="layout.hierarchical.edgeMinimization">
                Edge minimization
              </label>
              <label>
                <input type="checkbox" class="lopt" data-key="layout.hierarchical.parentCentralization">
                Parent centralization
              </label>
              <label>
                <input type="number" class="lopt" data-key="layout.hierarchical.levelSeparation" min="0" step="1">
                Level separation
              </label>
              <label>
                <input type="number" class="lopt" data-key="layout.hierarchical.nodeSpacing" min="0" step="1">
                Node spacing
              </label>
              <label>
                <input type="number" class="lopt" data-key="layout.hierarchical.treeSpacing" min="0" step="1">
                Tree spacing
              </label>
              <label>Direction
                <select class="lopt" data-key="layout.hierarchical.direction">
                  <optgroup label="Direction">
                    <option value="UD">Up - Down</option>
                    <option value="DU">Down - Up</option>
                    <option value="LR">Left - Right</option>
                    <option value="RL">Right - Left</option>
                  </optgroup>
                </select>
              </label>
              <label>Sort method
                <select class="lopt" data-key="layout.hierarchical.sortMethod">
                  <optgroup label="Sort method">
                    <option value="hubsize">hubsize</option>
                    <option value="directed">directed</option>
                  </optgroup>
                </select>
              </label>
              <label>Shake towards
                <select class="lopt" data-key="layout.hierarchical.shakeTowards">
                  <optgroup label="Shake towards">
                    <option value="leaves">leaves</option>
                    <option value="roots">roots</option>
                  </optgroup>
                </select>
              </label>
            </div>
            <label uif="atl || bar">
              <input type="number" step="any" class="lopt" data-key="physics.bh.theta"> Theta
            </label>
            <label uif="atl || bar">
              <input type="number" min="any" step="any" class="lopt" data-key="physics.bh.gravitationalConstant"> Gravitational constant
            </label>
            <label uif="atl || bar || rep || hr">
              <input type="number" step="any" class="lopt" data-key="physics.bh.centralGravity"> Central gravity
            </label>
            <label uif="atl || bar || rep || hr">
              <input type="number" step="any" class="lopt" data-key="physics.bh.springLength"> Spring length
            </label>
            <label uif="atl || bar || rep || hr">
              <input type="number" step="any" class="lopt" data-key="physics.bh.springConstant"> Spring constant
            </label>
            <label uif="atl || bar || rep || hr">
              <input type="number" step="any" class="lopt" data-key="physics.bh.damping"> Damping
            </label>
            <label uif="atl || bar || hr">
              <input type="number" step="any" class="lopt" data-key="physics.bh.avoidOverlap"> Avoid overlap
            </label>
            <label uif="rep || hr">
              <input type="number" step="any" class="lopt" data-key="physics.bh.nodeDistance"> Node distance
            </label>
            <label>
              <input type="number" step="any" class="lopt" data-key="physics.minVelocity"> Min velocity
            </label>
            <label>
              <input type="number" step="any" class="lopt" data-key="physics.maxVelocity"> Max velocity
            </label>

            <label>
              <input type="checkbox" step="any" class="dynamic_uif lopt" data-key="physics.stabilization.enabled"> Stabilization
            </label>
            <div uif="stabilization">
              <label>
                <input type="number" step="any" class="lopt" data-key="physics.stabilization.iterations"> Iterations
              </label>
              <label>
                <input type="number" step="any" class="lopt" data-key="physics.stabilization.updateInterval"> Update interval (ms)
              </label>
              <label>
                <input type="number" step="any" class="lopt" data-key="custom.scale_factor"> Scale factor
              </label>
              <label class="whatisthis">
                <input type="checkbox" class="lopt" data-key="physics.stabilization.onlyDynamicEdges"> onlyDynamicEdges???
              </label>
              <label class="whatisthis">
                <input type="checkbox" class="lopt" data-key="physics.stabilization.fit"> Fit??
              </label>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="template htmlstyle">
      <!-- start of level header -->
      <app-csseditor></app-csseditor>
      <div class="top">
        <label class="colChild">
          <div class="roww">
            <h6 class="vertexStyle separator htmllevel"></h6>
          </div>
          <!--
          <div class="colChild">
            <span class="stylelabel">Applied view:</span>
            <select class="stylename"></select>
          </div>
          -->
        </label>
        <button class="btn btn-danger styledelete" matTooltip="Remove style customization">X</button>
        <button class="helpButton btn btn-info" matTooltip="todo: explain .EndPoint, .TypeSelector, .ClassSelector...">?</button>
      </div>
      <!-- end of level header -->
      <div class="cssdetailleveltoggler2">
        <ul class="UtabHeaderContainer" style="background-color: inherit;">
          <li class="UtabHeader" selected="true" data-toggle="collapse" data-target=".cssdetailleveltoggler2 .collapse.c1">
            <span>
              Simplified editor
            </span>
          </li>
          <li class="UtabHeader" selected="true" data-toggle="collapse" data-target=".cssdetailleveltoggler2 .collapse.c2">
            <span>
              Full editor
            </span>
          </li>
        </ul>

        <div class="collapse c1" data-parent=".cssdetailleveltoggler2">
          <!-- start of css editor -->
          <div class="csseditorroot">
            <h4>Color scheme selector</h4>
            <div class="cschemeroot">

              <!--div class="ui dropdown fluid multiple search selection">
                <input type="hidden" name="color-schemes" class="color-schemes">
                <i class="dropdown icon"></i>
                <div class="default text">Select Color scheme (currently inherithing #####)</div>
                <div class="menu">
                  <div class="item dropdown-item template" data-value="cs-selectors">
                    <i class="af flag"></i>Afghanistan
                    <div class="text-center">cs name</div>
                    <div class="colorblock"></div>
                  </div>
                </div>
              </div-->

              <div class="cstemplates template">
                <li class="cslistreadonly dropdownitem">
                  <div class="inheritedFromText cslistreadonly dropdownitem"><span>from&nbsp;</span><span class="cs tag"></span><span>&nbsp;(</span><span class="cs level"></span><span>&nbsp;levels up)</span></div>
                  <ul class="cs list p-0"></ul>
                </li>
                <li class="csoption dropdownitem">
                  <div class="name text-center"></div>
                  <div class="colors d-flex">
                    <!-- contiene colorblocks creati a runtime -->
                  </div>
                </li>

              </div>

              <div class="dropdown hover-display readonly btn d-flex inheriting-color-scheme-list">
                <div class="title btn">Inherited color schemes</div>
                <i class="icon"></i>
                <ul class="dropdownmenu w-100">
                  <!-- contiene .template.cslistreadonly -->
                </ul>
              </div>

              <div class="dropdown btn d-flex own-color-scheme-list" tabindex="-1">
                <div class="title btn">Own color schemes</div>
                <i class="icon"></i>
                <ul class="dropdownmenu w-100">
                  <!-- contiene .template.cslistreadonly -->
                </ul>
                <!--span class="dropdown cscheme w-auto d-none roba vecchia inutilizzata">
                  <input type="hidden" name="color-schemes" class="color-schemes">
                  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" fillwithvalue1>NOT INIT</button>
                  <div class="dropdown-menu w-100">
                    <li class="dropdown-item" data-csname="custom">
                        <div class="text-center" value1>Custom</div>
                        <div class="cscheme default" value2>
                          <div class="colorblock empty"></div>
                          <div class="colorblock empty"></div>
                          <div class="colorblock empty"></div>
                          <div class="colorblock empty"></div>
                        </div>
                    </li>
                    <li class="dropdown-item template" data-csname="tofill">
                      <div class="text-center" value1></div>
                      <div class="cscheme" value2></div>
                    </li>
                  </div>
                </span-->
              </div>

            </div>

            <div class="css_editor" uif="isCustomized">
              <h4 class="d-none">Css / color customizer</h4>
              <div class="d-none roww addclass">
                <input list="currentNodeClassList">
                <button class="btn btn-success addselector">Add element</button>
              </div>
              <div>
                <div class="roww cssBlocksContainer">
                  <div class="cssprop template roww">
                    <div class="g g0">
                      <button class="btn btn-danger delcssprop">X</button>
                    </div>
                    <input class="form-group g1 cssprop" list="cssrules" value="border">
                    <div class="g g0">
                      <span>:</span>
                    </div>
                    <input class="form-group cssval g1 cssval" placeholder="ph autocomplete todo">
                  </div>
                  <div class="cssblock template">
                    <div class="colorPicker roww">
                      <div class="g g0">
                        <button class="btn btn-danger delcssprop">X</button>
                      </div>
                      <div class="g g3"><span class="title selector">SELECTOR_TOFILL</span></div>
                      <div class="g g1 mr-1 fontstyle" style="flex-grow: 0;"><label class="c fc" style="margin-bottom: 15px;">
                        <div class="horizontalContainer verticalContainer"><span class="HorizontalChild">Font</span></div>
                        <input type="color" value="#000000" class="m-0" style="background: transparent;">
                        <input type="range" class="form-control-range opacity" min="0" max="1" step="any">
                      </label></div>
                      <div class="g g1 mr-1 backstyle" style="flex-grow: 0;"><label class="c bc" style="margin-bottom: 15px;">
                        <div class="horizontalContainer verticalContainer"><span class="HorizontalChild">Font</span></div>
                        <input type="color" value="#ffffff" class="m-0" style="background: transparent;">
                        <input type="range" class="form-control-range opacity" min="0" max="1" step="any">
                      </label></div>
                      <div class="g g2"><button class="btn btn-primary rc" data-toggle="collapse" data-target="#ac1"><span class="rulecount">X</span> css</button></div>
                    </div>
                    <div id="ac1" class="csscontainer collapse">
                    <div class="d-flex csspropcontainer">
                      <button class="btn btn-success m-auto addcssprop">Add css rule</button>
                    </div>
                  </div>
                  </div>
                </div>



              </div>
            </div>

          </div>
          <!-- end of css editor -->
        </div>
        <div class="collapse c2 show" data-parent=".cssdetailleveltoggler2">
          <!-- start of html editor -->
          <label class="allowEdit"><span>This style is being inherited and cannot be modified here.<br>You need a local copy to allow Edit.</span><button class="allowEdit btn btn-secondary">Make it</button></label>
          <div contenteditable="true" class="html" placeholder="Html for $##name$ (m2 class)."></div>
          <!-- end of html editor -->
        </div>

      </div>


      <!--
      <div class="roww nowrap detailButtonContainer">
        <button target="div.detail.measurable" class="detail measurable btn btn-primary">
            <span class="closed">
              <label class="measurable">
                <input type="checkbox">
                <span>Measurable</span>
              </label>
              <div class="HorizontalContainer"><span class="HorizontalChild">⮟</span><span class="HorizontalChild">⮟</span><span class="HorizontalChild">⮟</span></div>
            </span>
          <span class="opened">
              <div class="HorizontalContainer"><span class="HorizontalChild">⮝</span><span class="HorizontalChild">⮝</span><span class="HorizontalChild">⮝</span></div>
            </span>
        </button>
        <button target="div.detail.save" class="detail save btn btn-primary">
          <span class="closed">Save detail</span>
          <span class="opened">
              <div class="HorizontalContainer"><span class="HorizontalChild">⮝</span><span class="HorizontalChild">⮝</span><span class="HorizontalChild">⮝</span></div>
            </span>
        </button>
      </div>
      <div class="detail measurable" style="display: none">
        < !--
                          left	  right	  eval

          r_		      str	    any	    /     <-- add dataset to name input.
          d_		      str	    any	    /
          _		        /	      js	    any
          _rule		    $##a$  	js	    any
          _export		  jq	    js	    any
          _chainFinal	export
          _chain		  export
          _constraint	size	  js	    bool	inequality
          _dstyle		  /	      js->css	str
          _import		  size	  js	    any
        -- >
        <div class="template measurable _root roww columnContainer">
          <button class="deleteRule columnChild btn btn-danger">X</button>
          <div class="columnChild">
            <div class="roww hideOn r_ d_">
              <label>
                <span>Name</span>
                <span class="nameprefix">_</span>
                <input class="fill name" type="text" placeholder="attribute name" pattern="[.]+">
              </label>
            </div>
            <label class="expressionRoot">
              <input class="leftside hideOn _ _dstyle _chain _chainFinal" type="text" placeholder="Left side">
              <span class="operatortext hideOn _constraint _ _dstyle operator">=</span>
              <select class="hideOn _ _dstyle operator"><optgroup label="operator">
                <option value="<=">&lt;=</option>
                <option value="=">=</option>
                <option value=">=">&gt;=</option>
              </optgroup></select>
              <input class="rightside hideon_chain _chainFinal " type="text" placeholder="Right side">
            </label>
            <div class="roww hideOn r_ d_">
              <label>
                <span>Relative target</span>
                <input class="fill relativetarget" type="text" placeholder="jQuery selector">
              </label>
            </div>
            <div class="roww hideOn r_ d_">
              <label>
                <span>Evaluation (debug)</span>
                <input readonly class="fill evaluation" type="text" placeholder="empty string">
              </label>
            </div>
            <a class="roww outputerror left"></a>
            <a class="roww outputerror right"></a>
          </div>
        </div>
        < !-- TEMPLATES END -- >
        <h6 class="addHeader">
          <button class="btn btn-secondary addmeasurable">Add</button>
          <select class="attributetypeadd"><optgroup label="Attribute type">
            <option value="d_">jQueryUI drag option</option>
            <option value="r_">jQueryUI resize option</option>
            <option value="_rule">_rule</option>
            <option value="_dstyle">_dstyle</option>
            <option value="_export">_export</option>
            <option value="_constraint">_constraint</option>
            <option value="_import">_import</option>
            <option value="_chain">_chain</option>
            <option value="_chainFinal">_chainFinal</option>
            <option value="_">_ (Pseudo-variable)</option>
          </optgroup></select>
        </h6>

        <h6>_D</h6>
        <div class="d_Container"></div>
        <h6>_R</h6>
        <div class="r_Container"></div>
        <h6>_ (Pseudo-variables)</h6>
        <div class="_Container"></div>
        <h6>_Rule</h6>
        <div class="_ruleContainer"></div>
        <h6>_Export</h6>
        <div class="_exportContainer"></div>
        <h6>_Constraint</h6>
        <div class="_constraintContainer"></div>
        <h6>_Dstyle</h6>
        <div class="_dstyleContainer"></div>
        <h6>_Import</h6>
        <div class="_importContainer"></div>
        <h6>_Chain</h6>
        <div class="_chainContainer"></div>
        <h6>_ChainFinal</h6>
        <div class="_chainFinalContainer"></div>
      </div>
      <div class="detail save" style="display: none">
        <div class="saveasrow">
          <button class="delete btn btn-secondary">Delete</button>
          <button class="saveas btn btn-secondary">Save as</button>
          <input class="saveas form-control" placeholder="new style name">
        </div>
        <h6>Style is compatible with:</h6>
        <div class="compatibleRow">
          <label><span>M2 Elements</span><input class="metamodel" type="checkbox"></label>
          <label><span>M1 Elements</span><input class="model" type="checkbox"></label>
        </div>
        <h6>And appliable to:</h6>
        <div class="compatibleRow">
          <label><span>Class</span><input class="class" type="checkbox"></label>
          <label><span>Attributes</span><input class="attribute" type="checkbox"></label>
          <label><span>References</span><input class="reference" type="checkbox"></label>
          <label><span>Operations</span><input class="operation" type="checkbox"></label>
          <label><span>Parameters</span><input class="parameter" type="checkbox"></label>
        </div>
      </div>

      < !-- <div class="separatorShell">
        <h6 class="vertexStyle separator">
          <label><span>Preview&nbsp;of&nbsp;</span>
            <select class="previewselector"></select>
          </label></h6>
        <button class="helpButton vertex btn btn-info" matTooltip="todo: explain .EndPoint, .TypeSelector, .ClassSelector...">?</button>
      </div> -->

      <!-- start of new measurable -->
      <div class="columnContainer"><div class="measurablePlaceholder"></div></div>
      <!-- end of new measurable -->

    </div>

    <div class="template modelpiece">
      <!-- https://www.key-shortcut.com/en/writing-systems/35-symbols/arrows -->
      <div class="arrowContainer">
        <button class="arrow up btn btn-primary" title="Go up a level in the html DOM">⇪</button>
        <h6 class="tsclass">TS_Class</h6>
        <button class="arrow upp btn btn-primary" title="Go to the root level">🢁</button>
        <button class="arrow down btn btn-primary" style="display:none" title="Go to the previous level">⇩</button>
      </div>
      <label class="iclass show">
        <input type="checkbox" class="showAsEdge">
        <span class="showAsEdgeText">#####</span>
      </label>
      <div class="style own colContainer"></div>
      <div class="sizeContainer" style="display: flex;">
        <div class="sizeContainerHalf">
          <label class="sizelabel">
            <input class="sizex" digit="5" type="number">
            <span>X</span>
          </label>
          <label class="sizelabel">
            <input class="sizey" digit="5" type="number">
            <span>Y</span>
          </label>
        </div>
        <div class="sizeContainerHalf">
          <label class="sizelabel">
            <input class="sizew" digit="5" type="number">
            <span>Width</span>
          </label>
          <label class="sizelabel">
            <input class="sizeh" digit="5" type="number">
            <span>Height</span>
          </label>
        </div>
        <label class="autosizecontainer"><input type="checkbox" class="autoheight"><span>Adapt height to content</span></label>
        <label class="autosizecontainer"><input type="checkbox" class="autowidth"><span>Adapt width to content</span></label>
        <label class="autosizecontainer"><input type="checkbox" class="autolayout"><span>Include in Auto-layout</span></label>
        <label class="autosizecontainer"><input type="checkbox" class="edgeVisibility"><span>Display edges</span></label>
        <table class="edgePriority">
          <thead>
          <tr>
            <th colspan="3">Edges visibility</th>
          </tr>
          <tr>
            <th colspan="1" rowspan="2">Kind</th>
            <th colspan="2" rowspan="1">Direction</th>
          </tr>
          <tr>
            <td colspan="1">In</td>
            <td colspan="1">Out</td>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th>Relationship</th>
            <td><input kind="in-rel" type="number"></td>
            <td><input kind="out-rel" type="number"></td>
          </tr>
          <tr>
            <th>Inheritance</th>
            <td><input kind="in-ext" type="number"></td>
            <td><input kind="out-ext" type="number"></td>
          </tr>
          <tr>
            <th>Other</th>
            <td><input kind="in-oth" type="number"></td>
            <td><input kind="out-oth" type="number"></td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="separatorShell"></div>
      <label class="">
        <input type="checkbox" class="asDefault">
        <span>Use as default style</span>
      </label>
      <div class="roww nowrap detailButtonContainer">
        <button target="div.detail.style.inherited" class="detail inherited btn btn-primary">
          <span class="closed">Inherited Style</span>
          <span class="opened">
              <div class="HorizontalContainer"><span class="HorizontalChild">⮝</span><span class="HorizontalChild">⮝</span><span class="HorizontalChild">⮝</span></div>
            </span>
        </button>
        <button target="div.detail.style.inheritable" class="detail inheritable btn btn-primary">
          <span class="closed">Inheritable Style</span>
          <span class="opened">
              <div class="HorizontalContainer"><span class="HorizontalChild">⮝</span><span class="HorizontalChild">⮝</span><span class="HorizontalChild">⮝</span></div>
            </span>
        </button>
      </div>
      <!-- detail style instances colContainer ... -->

      <div class="detail style inheritable colContainer"></div>
      <div class="detail style inherited colContainer"></div>
    </div>
    <div class="template edge">
      <h1>Edge style</h1>
      <table><tbody>
      <tr>
        <td>Style</td>
        <td><select class="edgeStyle"><optgroup label="Edge style">
          <option value="straight" title="./img/icons/edge/straight.jpg">Straight</option>
          <option value="angular23Auto" title="./img/icons/edge/angular23.jpg">Angulated (auto)</option>
          <option value="angular2" title="./img/icons/edge/angular2.jpg">Angulated (2)</option>
          <option value="angular3" title="./img/icons/edge/angular3.jpg">Angulated (3)</option>
        </optgroup></select></td>
      </tr>
      <tr><td colspan="2" class="title">On normal status</td></tr>
      <tr>
        <td>Color</td>
        <td><input type="color" class="edgeColor common"></td>
      </tr>
      <tr>
        <td>Width</td>
        <td><input type="number" class="edgeWidth common" min="0" step="0.1" placeholder="0"></td>
      </tr>
      <tr><td colspan="2" class="title">On highlight preview</td></tr>
      <tr>
        <td>Color</td>
        <td><input type="color" class="edgeColor highlight"></td>
      </tr>
      <tr>
        <td>Width</td>
        <td><input type="number" class="edgeWidth highlight" min="0" step="0.1" placeholder="0"></td>
      </tr>
      <tr><td colspan="2" class="title">On selection</td></tr>
      <tr>
        <td>Color</td>
        <td><input type="color" class="edgeColor selected"></td>
      </tr>
      <tr>
        <td>Width</td>
        <td><input type="number" class="edgeWidth selected" min="0" step="0.1" placeholder="0"></td>
      </tr>
      </tbody></table>
      <h1>EdgePoint style</h1>
      <table><tbody>
      <tr><td colspan="2" class="title">On normal status</td></tr>
      <tr>
        <td>Radius</td>
        <td><input type="number" class="edgePoint radius" min="0" step="0.1" placeholder="0"></td>
      </tr>
      <tr>
        <td>Border Width</td>
        <td><input type="number" class="edgePoint strokeW" min="0" step="0.1" placeholder="0"></td>
      </tr>
      <tr>
        <td>Border Color</td>
        <td><input type="color" class="edgePoint stroke"></td>
      </tr>
      <tr>
        <td>Fill Color</td>
        <td><input type="color" class="edgePoint fill"></td>
      </tr>
      <tr><td colspan="2" class="title">On bounding preview</td></tr>
      <tr>
        <td>Radius</td>
        <td><input type="number" class="edgePointPreview radius" min="0" step="0.1" placeholder="0"></td>
      </tr>
      <tr>
        <td>Border Width</td>
        <td><input type="number" class="edgePointPreview strokeW" min="0" step="0.1" placeholder="0"></td>
      </tr>
      <tr>
        <td>Border Color</td>
        <td><input type="color" class="edgePointPreview stroke"></td>
      </tr>
      <tr>
        <td>Fill Color</td>
        <td><input type="color" class="edgePointPreview fill"></td>
      </tr>
      <tr><td colspan="2" class="title">While moving</td></tr>
      <tr>
        <td>Radius</td>
        <td><input type="number" class="edgePointSelected radius" min="0" step="0.1" placeholder="0"></td>
      </tr>
      <tr>
        <td>Border Width</td>
        <td><input type="number" class="edgePointSelected strokeW" min="0" step="0.1" placeholder="0"></td>
      </tr>
      <tr>
        <td>Border Color</td>
        <td><input type="color" class="edgePointSelected stroke"></td>
      </tr>
      <tr>
        <td>Fill Color</td>
        <td><input type="color" class="edgePointSelected fill"></td>
      </tr>
      </tbody></table>
      <div contenteditable="true" class="edgeStyle label html" placeholder="Label of link. Not filled means without label."></div>
      <div class="separatorShell">
        <h6 class="edgeStyle separator">Preview:</h6>
        <button class="helpButton edgeLabel" matTooltip="todo: explain .EndPoint, .TypeSelector, .ClassSelector...">?</button>
      </div>
      <div class="edgeStyle preview"></div>
    </div>
  </div>
</div>
