
input, select {
  height: 21px;
  border-radius: 5px;
  border-bottom-right-radius: 12px; }
input:hover, select:hover, input:focus, select:focus {
  outline: none;
  border: 2px solid dodgerblue;
  height: 22px;
}

/* label > input[type='checkbox']{ height: 21px; } */

/* input[type='checkbox']:hover, input[type='checkbox']:focus { height: 23px; }*/
input[disabled]:hover, select[disabled]:hover{
  outline: none;
  border: 2px solid gray;
  /* height: auto; */
}
/*propertyBar*/
#modelTemplate, #packageTemplate, #classTemplate, #attributeTemplate, #referenceTemplate{
  width: 100%;
}
.propertySidebarTemplates{
  display: none;
}
.wastemplate {
  display: flex;
  width: 100%;
  height: 100%;
}
.wastemplate > * {
  display: flex;
  margin-bottom: 8px;
}

.wastemplate > *{
  width: 100%;
}
.minimizer {
  display: flex;
  border-left: 2px dashed dodgerblue;
  border-bottom: 2px dashed dodgerblue;
  min-width: 8px !important;
  height: auto;
  width: 8px !important;
}
.wastemplate.minimized > *{
  display: none;
}
.wastemplate.minimized:hover {
  display: flex;
  border-color: var(--secondary);
}
.wastemplate.minimized:before {
  color: dodgerblue;
  content: '+';
  font-size: 20px;
  margin: auto;
  line-height: 0;
}
.wastemplate.minimized:hover:before {
  color: var(--secondary);
}
.minimizer:hover, .attributeMinimizer:hover{
  border-left: 2px dashed var(--secondary);
  border-bottom: 2px dashed var(--secondary);
}
.wastemplate.minimized{
  border: 2px solid dodgerblue;
  height: 20px;
  margin-bottom: 8px;
}
.wastemplate.minimized.list{
  border-style: dashed;
}
.minimizer.single {
  border-style: solid;
  border-right: none;
  border-top: none;
}
.content {
  margin-left: 8px;
  width: 100%;
  height: min-content;
  flex-flow: column;
  /*width: calc(100% - 16px);*/

}
label{
  display: flex;
  width: 100%;
  height: 24px;
  line-height: 24px;
  white-space: nowrap;
}
label > input, label > select{
  display: flex;
  margin: auto;
  margin-right: 0;
  margin-left: 20px;
  width: inherit;
  min-width: 60px;
  /* float: right; */
  /*margin-right: 0;*/
}
label > input[type="number"] {
  min-width: 30px;
}
