<div class="verticalFillingContainer">
  <div class="verticalFiller horizontalFillingContainer">
    <div class="sidebarShell resizableBorder" data-resizableRight="true">
      <div id='model_sidebar'></div>
    </div>
    <div class="editorShell horizontalFiller">
      <ul class ="viewpointShell">
        <h6>Viewpoints</h6>
        <li class="viewpointrow default">
          <label class="name">
            <input type="radio" checked>
            <input class="name form-control-sm" type="text" value="Default" readonly><button class="duplicate"></button>
          </label>
        </li>
        <li class="viewpointrow template">
          <label class="checkbox"><input type="checkbox"></label>
          <label class="name"><input class="name form-control-sm" type="text">
            <span class="buttons">
            <button class="duplicate"></button><button class="edit"></button><button class="remove"></button>
          </span>
          </label>
        </li>
      </ul>
      <svg class="graph" id='model_editor'>
        <g class="gridContainer">
          <defs></defs>
          <rect class="grid"></rect>
        </g>
      </svg>
      <div id='model_navigatorOutlineContainer'></div>
    </div>
    <!-- style of propertybar must be inline for resizableBorder js -->
    <div class="UtabContainer propertyBarContainer resizableBorder" data-resizableLeft="true" data-selectedTab="2" style="width: 283px;">
      <ul class="UtabHeaderContainer">
        <li class="UtabHeader" data-target="1">Style</li>
        <li class="UtabHeader" data-target="2">Structured</li>
        <li class="UtabHeader" data-target="3">Raw</li>
      </ul>
      <div class="UtabContentContainer">
        <div class="UtabContent" data-target="1"><app-style-editor [isM2]="false"></app-style-editor></div>
        <div class="UtabContent" data-target="2"><app-property-barr [isM2]="false"></app-property-barr></div>
        <div class="UtabContent" data-target="3">
          <div class="rawContainer">
            <h2 class="rawTitle">Raw eCore fragment</h2>
            <textarea class="rawecore"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="MDefaultStyles customized"></div>
  <div class="MDefaultStyles immutable">
    <foreignobject class="template Vertex Class" x="0" y="0" width="200" height="40" hover-base="v1" tabindex="-1" style="outline: 1px solid var(--color-3) !important; background:var(--color-1); color:var(--color-2);">
      <div class="Class" style="background:var(--color-1); height:auto; width:100%;" data-autosizey="1">
        <div class="VertexHeader" style="height:20px; width:100%; text-align:center; display:flex;">
          <div class="no-ov" style="text-align:center; order:2; flex-grow:1; flex-shrink:1; flex-basis:10px; color:var(--color-4); margin:auto; padding-left:4px;">($##metaParent.name$)</div>
          <div hover-display="v1" class="hover-unfade open-options" tabindex="-1"
               style="top: -25px; border-top-right-radius: 999px; border-top-left-radius: 999px;">
            <span>...</span>
          </div>
        </div>
        <div class="specialjs AttributeContainer hover-exclude" style="display: flex; flex-direction: column;"></div>
        <div class="specialjs ReferenceContainer hover-exclude" style="display: flex; flex-direction: column;"></div>
        <div class="specialjs OperationContainer hover-exclude" style="display: flex; flex-direction: column;"></div>
      </div>
    </foreignobject>

    <div class="template Feature Reference" tabindex="-1" hover-base="f1" style="position: relative; width:100%; height:22px; padding-left:5px; display:flex; margin:auto;">
      <span class="no-ov" style="display:flex; order:0; flex-grow:1; flex-shrink:1; margin:auto; color:var(--color-1);">*$##metaParent.type.printablename$</span>
      <span class="no-ov" style="display:flex; order:1; flex-basis:10px; flex-grow:2; flex-shrink:2; min-width:3px; margin:auto;">$##metaParent.name$</span>
      <button class="LinkVertex" style="order:3; width:22px; height:22px; padding:0; margin:auto;">-></button>
      <div hover-display="f1" class="hover-unfade open-options" tabindex="-1"
           style="right: -25px; border-top-right-radius: 999px; border-bottom-right-radius: 999px;">
        <span>...</span>
      </div>
    </div>

    <div class="template Feature Attribute" tabindex="-1" hover-base="f1" style="position: relative; width:100%; height:22px; padding-left:5px; display:flex;">
      <span class="no-ov" style="order:0; flex-basis:10px; flex-grow:2; flex-shrink:2; min-width:3px; margin:auto; color:var(--color-f-1);">$##metaParent.type.printablename$</span>
      <span class="no-ov" style="order:1; flex-basis:10px; flex-grow:3; flex-shrink:3; min-width:3px; margin:auto;">$##metaParent.name$&nbsp;=&nbsp;</span>
      <input type="text" placeholder="empty string" value="$##valuesStr$" style="background:transparent; border:none; order:2; flex-basis:10px; flex-grow:3; flex-shrink:3; min-width:3px;">
      <div hover-display="f1" class="hover-unfade open-options" tabindex="-1"
           style="right: -25px; border-top-right-radius: 999px; border-bottom-right-radius: 999px;">
        <span>...</span>
      </div>
    </div>

    <div class="template Feature Operation" tabindex="-1" hover-base="f1" style="position: relative; width:100%; height: 22px; padding-left: 5px; display:flex;">
      <div class="specialjs signature" data-maxargumentchars="10" data-maxarguments="2" style="min-width:100%"></div>
      <div class="specialjs operationDetail" style="margin:2px; margin-top:0; padding:2px; order:2; border: 3px solid var(--color-f-2); border-top-color:transparent;">
        <div style="display: flex; width: 100%;">
          <select disabled data-primitive="true" data-enum="true" data-class="true" data-void="true" style="background:transparent; border:none; display:flex; order:2; flex-grow:2; flex-shrink:2; flex-basis:3px; min-width:3px; text-align: right;"></select>
          <input disabled type="text" placeholder="Operation Name" value="$##name$" style="background:transparent; border:none; display: flex; order: 1; flex-basis:10px; flex-grow:3; flex-shrink:3; min-width:3px;">
        </div>
        <div class="parameterList" style="display: flex; width: 100%;"></div>
      </div>
      <div hover-display="f1" class="hover-unfade open-options" tabindex="-1"
           style="right: -25px; border-top-right-radius: 999px; border-bottom-right-radius: 999px;">
        <span>...</span>
      </div>
    </div>

    <div class="template Feature Parameter" tabindex="-1" hover-base="p1" style="position: relative; width:100%; height:22px; padding-left: 5px; display:flex;">
      <select disabled data-primitive="true" data-enum="true" data-class="true" style="background:transparent; border:none;display:flex; order:2; flex-grow:2; flex-shrink:2; flex-basis:3px; min-width:3px; text-align: right;"></select>
      <input disabled type="text" placeholder="Parameter Name" value="$##name$" style="background:transparent; border:none; display: flex; order: 1; flex-basis:10px; flex-grow:3; flex-shrink:3; min-width:3px;">
      <div hover-display="p1" class="hover-unfade open-options" tabindex="-1"
           style="right: -25px; border-top-right-radius: 999px; border-bottom-right-radius: 999px;">
        <span>...</span>
      </div>
    </div>
  </div>
</div>

<div class="visContainer" style="position:absolute; top:0px; display: none;">
  <div id="m_visGraph" style="position:absolute; left: 100px; width: 30vw; height: 100vh; background: wheat;"></div>
  <div id="m_visOptions" style="position:absolute; width: 100px; height: 100vh; background: white"></div>
</div>
