<div class="verticalFillingContainer">
  <div class="verticalFiller horizontalFillingContainer">
    <div class="sidebarShell resizableBorder" data-resizableRight="true">
    <div id='metamodel_sidebar'></div>
  </div>
    <div class="editorShell horizontalFiller">
      <ul class ="viewpointShell">
        <h6>Viewpoints</h6>
        <li class="viewpointrow default">
          <label class="name">
            <input type="radio" checked>
            <input class="name form-control-sm" type="text" value="Default" readonly><button class="duplicate"></button>
          </label>
        </li>
        <li class="viewpointrow template">
          <label class="checkbox"><input type="checkbox"></label>
          <label class="name"><input class="name form-control-sm" type="text">
            <span class="buttons">
            <button class="duplicate"></button><button class="edit"></button><button class="remove"></button>
          </span>
          </label>
        </li>
      </ul>
      <svg class="graph" id='metamodel_editor'>
        <g class="gridContainer">
          <defs></defs>
          <rect class="grid"></rect>
        </g>
      </svg>
      <div id='metamodel_navigatorOutlineContainer'></div>
    </div>
    <!-- style of propertybar must be inline for resizableBorder js -->
    <div class="UtabContainer propertyBarContainer resizableBorder" data-resizableLeft="true" data-selectedTab="2" style="width:20%">
    <ul class="UtabHeaderContainer">
      <li class="UtabHeader" data-target="1">Style</li>
      <li class="UtabHeader" data-target="2">Structured</li>
      <li class="UtabHeader" data-target="3">Raw</li>
    </ul>
    <div class="UtabContentContainer">
      <div class="UtabContent" data-target="1"><app-style-editor></app-style-editor></div>
      <div class="UtabContent" data-target="2"><app-property-barr></app-property-barr></div>
      <div class="UtabContent" data-target="3">
        <div class="rawContainer">
          <h2 class="rawTitle">Raw eCore fragment</h2>
          <textarea class="rawecore"></textarea>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="mmconsole resizableBorder" data-resizableTop="true"></div>
  <div class="MMDefaultStyles customized"></div>
  <div class="MMDefaultStyles immutable">
    <foreignobject class="template Class" x="0" y="0" width="200" height="40">
      <div class="Class Vertex vertexShell" style="background:white; height:auto; width:100%; overflow: auto;" data-autosize="1">
        <div class="VertexHeader" style="height:20px; width:100%; text-align:center; display:flex;">
          <input value="$##name$" placeholder="Object name" pattern="[A-Za-z0-9_$]+" style="border:none; text-align:right; order:1; flex-grow:1; flex-shrink:1; flex-basis:10px; min-width:10px; color:black; border:none; padding-right:4px;">
          <div style="text-align:left; order:2; flex-grow:1; flex-shrink:1; flex-basis:10px; color:dodgerblue; margin:auto; padding-left:4px;">(Class)</div>
        </div>
        <div class="specialjs AttributeContainer" style="display: flex; flex-direction: column;"></div>
        <div class="specialjs ReferenceContainer" style="display: flex; flex-direction: column;"></div>
        <div class="specialjs OperationContainer" style="display: flex; flex-direction: column;"></div>
        <div class="addFieldButtonContainer" style="width: 100%; text-align: center;">
          <span style="display:flex; margin:auto;">Add</span>
          <style id="addfieldcss_class">
            .addFieldButtonContainer{ display: flex; max-height: 20px; min-height: 20px; overflow: hidden;}
            .addFieldButtonContainer{ opacity: 0; padding-top: 20px; }
            .Vertex:hover .addFieldButtonContainer{ opacity: 1; padding-top: 0; }
          </style>
          <select class="AddFieldSelect" style="display:flex; margin:auto;">
            <optgroup label="FeatureType">
              <option value="Attribute" selected="">Attribute</option>
              <option value="Reference">Reference</option>
              <option value="Operation">Operation</option>
            </optgroup>
          </select>
          <span style="display:flex; margin:auto;">field</span>
          <button class="addFieldButton">Go</button>
        </div>
      </div>
    </foreignobject>

    <foreignobject class="template EEnum" x="0" y="0" width="200" height="40">
      <div class="Class Vertex vertexShell EEnum" style="background:white; height:auto; width:100%; overflow: auto;" data-autosize="1">
        <div class="VertexHeader" style="height:20px; width:100%; text-align:center; display:flex;">
          <input value="$##name$" placeholder="Object name" pattern="[A-Za-z0-9_$]+" style="border:none; text-align:right; order:1; flex-grow:1; flex-shrink:1; flex-basis:10px; min-width:10px; color:black; border:none; padding-right:4px;">
          <div style="text-align:left; order:2; flex-grow:1; flex-shrink:1; flex-basis:10px; color:red; margin:auto; padding-left:4px;">(Enum)</div>
        </div>
        <div class="specialjs LiteralContainer" style="display: flex; flex-direction: column;"></div>
        <div class="addFieldButtonContainer" style="width: 100%; text-align: center;">
          <style id="addfieldcss_enum">
            .addFieldButtonContainer{ display: flex; max-height: 20px; min-height: 20px; overflow: hidden;}
            .addFieldButtonContainer{ opacity: 0; padding-top: 20px; }
            .Vertex:hover .addFieldButtonContainer{ opacity: 1; padding-top: 0; }
          </style>
          <span style="display:flex; margin:auto;">Add</span>
          <select class="AddFieldSelect" disabled style="display:flex; margin:auto;">
            <optgroup label="FeatureType">
              <option value="Literal" selected="">Literal</option>
            </optgroup>
          </select>
          <span style="display:flex; margin:auto;">field</span>
          <button class="addFieldButton">Go</button>
        </div>
      </div>
    </foreignobject>

    <div class="template Reference" style="height: 22px; width: 100%; display:flex; box-sizing:content-box;">
      <select data-class="true" style="border:none; display:flex; order:3; flex-grow:1; flex-basis:0; min-width:0;"></select>
      <input type="text" placeholder="Reference Name" pattern="[A-Za-z0-9_$]+" value="$##name$" style="border:none; order: 1; flex-basis:10px; flex-grow:2; flex-shrink:2; min-width:3px;">
    </div>

    <div class="template Attribute EString EInteger" style="height:22px; width:100%; display:flex; box-sizing:content-box;">
      <select data-primitive="true" data-enum="true" style="border:none; display:flex; order:2; flex-grow:2; flex-shrink:2; flex-basis:3px; min-width:3px; text-align: right;"></select>
      <input type="text" placeholder="Attribute Name" pattern="[A-Za-z0-9_$]+" value="$##name$" style="border:none; display: flex; order: 1; flex-basis:10px; flex-grow:3; flex-shrink:3; min-width:3px;">
    </div>

    <div class="template ELiteral" style="height:22px; width:100%; display:flex; box-sizing:content-box;">
      <input class="value" type="number" placeholder="auto" value="$##ordinal$" style="border:none; display: flex; width: 30px;">
      <input class="name" type="text" placeholder="name" value="$##name$" pattern="[A-Za-z0-9_$]+" style="border:none; display:flex; flex-grow:1; flex-shrink:1; flex-basis:3px; min-width:3px;">
      <input class="literal" type="text" placeholder="literal" value="$$#literal$" style="border:none; display:flex; flex-grow:1; text-align: right; flex-basis:3px; min-width:3px;">
    </div>

    <div class="template Operation" style="width:100%; display:flex; box-sizing:content-box; flex-flow:column;">
      <div class="specialjs signature" data-maxargumentchars="10" data-maxarguments="2" style="height:21px; min-width:100%"></div>
      <div class="specialjs operationDetail" style="margin:2px; padding:2px; order:2; border: 3px solid #28a745; border-top-color: transparent; margin-top:0;">
        <div style="display: flex; width: 100%;">
          <select data-primitive="true" data-enum="true" data-class="true" data-void="true" style="border:none; display:flex; order:2; flex-grow:2; flex-shrink:2; flex-basis:3px; min-width:3px; text-align: right;"></select>
          <input disabled type="text" placeholder="Return Type" pattern="[A-Za-z0-9_$]+" value="Return type" style="border:none; display: flex; order: 1; flex-basis:10px; flex-grow:3; flex-shrink:3; min-width:3px;">
        </div>
        <div class="parameterList" style="display: flex; width: 100%; flex-flow:column;">
          <button class="addParameterButton btn btn-sm btn-success" style="width: 100%; height: 22px; padding:0; text-align: center">+</button>
        </div>
      </div>
    </div>

    <div class="template Parameter" style="height: 22px; width: 100%; border-bottom: 1px solid lightgray; display:flex; box-sizing:content-box;">
       <select data-primitive="true" data-enum="true" data-class="true" style="border:none; display:flex; order:2; flex-grow:1; flex-shrink:1; flex-basis:3px; min-width:3px; text-align: right;"></select>
       <input type="text" placeholder="Parameter Name" pattern="[A-Za-z0-9_$]*" value="$##name$" style="border:none; display: flex; order: 1; flex-basis:10px; flex-grow:1; flex-shrink:1; min-width:3px;">
       <button style="order: 3; padding:0 5px;">X</button>
    </div>
  </div>
</div>
