::ng-deep foreignObject.Class *{
  cursor: default;
}
::ng-deep foreignObject.Class input, foreignObject.Class *[contenteditable="true"], foreignObject.Class textarea{
  cursor: text;
}
::ng-deep foreignObject.Class select{
  cursor: pointer;
}

/* viewpoint */
::ng-deep .viewpointShell{
  max-width: 107px;
  overflow: visible;
  position: absolute;
  right: 10px;
  top: 10px; }
::ng-deep .viewpointrow.template { display: none; }
::ng-deep .viewpointrow button {
  display: none;
  height: 21px;
  width: 21px;
  min-width: 21px;
  float: right;
  margin-left: 5px; }
::ng-deep .viewpointrow:hover button { display: inline-block; }
::ng-deep .viewpointrow{ background-color: transparent; display: flex; position: relative; }
/*::ng-deep .viewpointrow .buttons{ display: none }*/
::ng-deep .viewpointrow:hover .buttons{
  z-index: 1;
  position: absolute;
  display: flex;
  top: 100%;
  right: 0; }

::ng-deep .viewpointrow > label{
  display: inline-flex;
  margin: auto;
  margin-left: 0; }
::ng-deep .viewpointrow > label.checkbox{ }
::ng-deep .viewpointrow > label.name{
  flex-grow: 1;
  flex-basis: 0;
  min-width: 0;
}
::ng-deep .viewpointrow input[type="text"]{ min-width: 0; height: 21px; background: transparent; border: none; }
/* ::ng-deep .viewpointrow:hover input[type="text"]{ box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25); }*/
::ng-deep .viewpointrow input[type='checkbox'], ::ng-deep .viewpointrow input[type='radio']{
  width: 17px;
  min-width: 17px;
  height: 17px;
}
::ng-deep .viewpointrow button{ margin: auto; background-color: transparent }
::ng-deep .viewpointrow input[readonly]{ background-color: transparent; border: none; }
::ng-deep .viewpointrow input.name{ opacity: 0.75; }
::ng-deep .viewpointrow[islastvp='true'] input.name{ opacity: 1; }

/************************************************** statici */
.template, .MMDefaultStyles{
  display: none;
}
.tabContent{
  display: flex;
  flex-flow: nowrap;/*?*/
  /*margin-top: calc( var(--mainBorderWidth) * 2 );*/
}

/*olds*/



.HiddenStructures > *{
  display: none;
}

.property_sidebar, .editorShell, .propertyBarContainer{/*.sidebarShell,*/
  flex-basis: 0;/* calc(var(--sidebarW));*/
  flex-grow: 1;
  background-color: var(--mainBackgroundColor);
  /*border-right: var(--mainBorder);*/
  width: calc(var(--sidebarW));
  /*height: calc(100vh - (var(--topbarH) + var(--tabH)));*/
  overflow: hidden;
  /*flex-wrap: wrap;
  margin-top: 5px;
  border-top: var(--mainBorder);*/
}
.sidebarShell{ border-right: var(--mainBorder); }
.propertyBarContainer{ border-left: var(--mainBorder); }
.editorShell{
  flex-grow: 3;
}
/*#sidebar, */#metamodel_sidebar, #model_sidebar, .property_sidebar{
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;/*si attiva solo se entra tutto in una riga e avanza pure spazio*/
  align-items: flex-start;
  align-content: flex-start;/*accatasta tutto verticalmente verso la cima invece di spaziarli.*/
  padding-right:5px;
}

/*
#sidebarResizer, .sidebarResizer{
    margin: 0px;
    padding: 0px;
    width: var(--mainBorderWidth);
    cursor: ew-resize;
    background-color: var(--mainBorderColor);
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}*/

#sidebar>*:first-child, #metamodel_sidebar>*:first-child, #model_sidebar>*:first-child{
  background-color: var(--mainBorderColor);
  width: var(--mainBorderWidth);
  right: 0px;
}
#sidebar>*:not(:first-child), #metamodel_sidebar>*:not(:first-child), #model_sidebar>*:not(:first-child){
  padding: 2px;
  max-width: 200px;
  min-width: 75px;
  flex-basis: 75px;/*should === min-width per mantenere l'effetto.*/
  flex-grow: 1;
  flex-shrink: 1;
}
.sidebarVertex:hover{
  background-color: var(--mainBorderColor);
  border: 2px solid var(--secondaryBorderColor);
  padding: 0px;
}

.sidebarVertex{
  min-width: 50px;
  min-height: 50px;
  flex-basis:50px;
}

@media all and (min-width: 200px) {
  .sidebarVertex {
    flex-grow: 0; }
}
#metamodel_editor, #model_editor{
  width: 100%;
  height: 100%;
}


/* property bar raws */
::ng-deep .propertyBarContainer .mat-tab-label{
  display: flex;
  height: 20px;
  flex-grow: 1;
  flex-basis: 0;
  min-width: 0 !important;
  /*width: auto !important;*/
  max-width: 50% !important
}
::ng-deep .propertyBarContainer .mat-tab-header-pagination{
  display: none !important;
}
.rawContainer{
  display: flex;
  flex-flow: column;
  height: 100%;
}
h2.rawTitle{
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.rawecore{
  display: flex;
  flex-grow:1;
  flex-shrink:1;
}
