.meas_acc0 .measurableSettingRoot{
  width: 100%;
  display: block;
}
.meas_acc0 .boxesroot {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-basis: 0;
}
.meas_acc0 .preleft, .meas_acc0 .postName {
  border: none;
  background: none;
  display: flex;
  margin: auto 0;
  padding: 0;
  color: inherit;
  height: unset;
}
.meas_acc0 .preleft { margin-right: 5px; }
.meas_acc0 .postName { margin-left: 5px; }
.meas_acc0 .botmarg { margin-bottom: 5px; display: flex; }
.meas_acc0 .movementboxroot, .meas_acc0 .resizeboxroot {
  display: flex;
  flex-grow: 1;
  flex-flow: column;
}
.meas_acc0 .columncontainer {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
}

.meas_acc0 .rowcontainer {
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
}
.meas_acc0 .column, .meas_acc0 .row{
  display: flex;
  flex-wrap: nowrap;
}
.meas_acc0 .row {
  max-width: 100%;
  margin-right: unset;
  margin-left: unset; /* dumb _grid.scss fixer */
}
.meas_acc0 .break { flex-wrap: wrap; }
.meas_acc0 .autobreak { flex-wrap: initial; }
.meas_acc0 .fill { flex-grow: 1; }
.meas_acc0 .boxtitle { display: block; text-align: center; margin-bottom: 12px; }
.meas_acc0 .side { display: flex; }
.meas_acc0 .side.left, .meas_acc0 .side.right { width: 10px; }
.meas_acc0 .side.top, .meas_acc0 .side.bot { height: 10px; width: calc(100% - 20px); }
.meas_acc0 .corner { display: flex; width: 10px; height: 10px; }
.meas_acc0 .middle { background-color: goldenrod; display: flex; }
.meas_acc0 .middle .middle { width: 120px; height: 90px; }
.meas_acc0 .rectangledrawing.inner > .row > .side, .meas_acc0 .rectangledrawing.inner > .row > .corner {
  background-color: black;
}
.meas_acc0 .boxroot {
  display: block;
  margin: auto;
  flex-wrap: wrap;
}
.meas_acc0 .ruletitle{
  display: block;
  text-align: center;
}
.meas_acc0 button.ruledelete {
  height: 100%;
  width: 30px;
  padding: 0;
  margin-right: 5px;
  border-radius: 25px 0 0 25px;
}
.meas_acc0 .compoundInputprefix {
  max-width: 100%;
  height: fit-content;
  margin-bottom: 0;
  padding: 0;
  flex-grow: 0 !important;
  width: auto;
  flex-basis: auto !important;
  flex-shrink: 0 !important;
}
.meas_acc0 .operator.trigger {
  order: 2;
  margin: auto 0;
  margin-left: -4px;
  padding: 0;
  background: transparent;
  color: inherit;
  text-align-last: left;
}
.meas_acc0 ._ondrag .operator.trigger{
  width: 56px;
}
.meas_acc0 ._onresize .operator.trigger{
  width: 64px;
}
.meas_acc0 ._onrotation .operator.trigger{
  width: 77px;
}
.meas_acc0 .operator.trigger:focus{
  outline: none;
  box-shadow: none;
  border: none;
}
.meas_acc0 .compoundInputprefix > input.attrname {
  order: 3;
  border-left: none;
  padding-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  min-width: 0;
}
.meas_acc0 .compoundInputprefix > * { border: none; }
.meas_acc0 .compoundInputprefix > *:first-child {
  margin-top: 1px;
  padding-right: 0;
  background-color: transparent;
  width: min-content;
}
.meas_acc0 .compoundInputprefix > input:focus { box-shadow: none; }
.meas_acc0 .compoundInputprefix:focus-within {
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.meas_acc0 .rulecontainer > .rightx, .meas_acc0 .rulecontainer > .leftx { margin-bottom: 0 !important; }
/* .meas_acc0 .rightx { min-width: 0; } */
.meas_acc0 .rightx span.operator {
  margin: auto;
  margin-left: 5px;
  margin-right: 5px;
  /*margin-top: 8px;*/
}
.meas_acc0 .rightx span.operator.apply {
   margin-left: 0px;
 }
.meas_acc0 .operatorcontainer {
  display: flex;
  margin-bottom: 5px;
}
.meas_acc0 select.operator {
  width: 45px;
  margin: auto 5px;
  text-align: center;
  text-align-last: center;
}
.meas_acc0 .rightx .compoundInputprefix, .meas_acc0 .rightx input.rightside, .meas_acc0 input.leftside, .meas_acc0 .rightx > .target {
  margin-bottom: 5px;
  min-width: 120px;
  flex-basis: 0;
  flex-grow: 1;
}
.meas_acc0 .rulecontainer { margin-bottom: 1rem; }
.meas_acc0 .rightx > .target { margin-bottom: 0; }
.meas_acc0 .rightx > .measurabledebug { margin-top: 5px; }
.meas_acc0 .attrname {
  max-width: 200px !important; /* todo: remove when is autosizing */
}
.meas_acc0 .addrule {
  float: right;
  margin-top: -4px;
  padding: 4px 10px;
}
.meas_acc0 .ruletitle {
  padding-right: 4px;
  margin-bottom: 5px;
  display: flex;
  border: 2px solid transparent;
  border-radius: 22.5px 0 0 22.5px;
}
.meas_acc0 .maintitle{
  border-radius: 5px;
}

.meas_acc0 .ruletitle:hover{
  border-color: gray;
  background-color: rgba(127, 127, 127, 0.2); }

.meas_acc0 .ruletitle:hover.ruletitle[counter]:not([counter="0"]), .meas_acc0 .ruletitle[counter]:not([counter="0"]):not(.collapsed),
.meas_acc0 .maintitle:hover,  .meas_acc0 .maintitle:not(.collapsed){
  border-color: dodgerblue;
  background-color: rgba(30, 144, 255, 0.2); }

::ng-deep .meas_acc0 .innertitle { margin: auto; } /* dynamically added*/
.meas_acc0 .ruletitle.collapsed { -webkit-appearance: initial; }
.meas_acc0 .ruletitle:hover { -webkit-appearance: button; text-decoration: none; color: dodgerblue; }
.meas_acc0 .form-control > .form-control:not(:first-child){
  border-top-left-radius: unset;
  /* disable bootstrap rule*/
}
.meas_acc0 .measurableoutputtext:focus,
.meas_acc0 .measurableerrortext:focus,
.meas_acc0 .measurablewarningtext:focus{
  /*outline: none;
  box-shadow: none;*/
}
.meas_acc0 .measurableoktext{
  margin-left: 5px;
  color: var(--success);
}
.meas_acc0 .measurableerrortext{
  margin-left: 5px;
  color: var(--danger);
}
.meas_acc0 .measurablewarningtext{
  margin-left: 5px;
  color: var(--warning);
}
.meas_acc0 .measurableoutputtext{
  margin-left: 5px;
  color: var(--secondary);
}
.meas_acc0 .rulecontainer{ margin-bottom: 5px; }
.meas_acc0 .measurabledebug { display: none; }
.meas_acc0 .rightx:focus-within .measurabledebug{ display: flex; }
.meas_acc0 .measurabledebug .debugrows { display: none; flex-flow: column; }
.meas_acc0 .measurabledebug:focus-within .debugrows { display: flex; }
.meas_acc0 .countershell { float: right; }
.meas_acc0 .rectangledrawing.outer > * {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.meas_acc0 .rectangledrawing.outer > .row > *, .meas_acc0 .arrowh, .meas_acc0 .arrowv {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.meas_acc0 .rectangledrawing.outer > .top > .left {
  /*background-image: url(https://i.ibb.co/tqxXhk4/tl.png);*/
  background-image: url(https://i.ibb.co/Zgvpywz/tll.png);
}
.meas_acc0 .rectangledrawing.outer > .top > .side.top {
  background-image: url(https://i.ibb.co/M9fC7DP/t.png); }
.meas_acc0 .rectangledrawing.outer > .top > .right {
  /*background-image: url(https://i.ibb.co/Pzsmjxf/tr.png);*/
  background-image: url(https://i.ibb.co/SN2THLt/trl.png); }
.meas_acc0 .rectangledrawing.outer > .mid > .left {
  background-image: url(https://i.ibb.co/7jm9BBQ/l.png); }
.meas_acc0 .rectangledrawing.outer > .mid > .right {
  background-image: url(https://i.ibb.co/RYZnVN5/r.png); }
.meas_acc0 .rectangledrawing.outer > .bot > .left {
  /*background-image: url(https://i.ibb.co/qrYWdpH/bl.png);*/
  background-image: url(https://i.ibb.co/gDKFry5/bll.png); }
.meas_acc0 .rectangledrawing.outer > .bot > .side.bot {
  background-image: url(https://i.ibb.co/cXc0nmS/b.png); }
.meas_acc0 .rectangledrawing.outer > .bot > .right {
  /*background-image: url(https://i.ibb.co/K0pVVT7/br.png);*/
  background-image: url(https://i.ibb.co/QpwRSsT/brl.png); }
.meas_acc0 input.side.top {
  margin-bottom: 3px;
  margin-top: -3px; }
.meas_acc0 input.side.bot {
  margin-bottom: -3px;
  margin-top: 3px; }
.meas_acc0 input.side.left {
  margin-right: 3px;
  margin-left: -3px; }
.meas_acc0 input.side.right {
  margin-right: -3px;
  margin-left: 3px; }
.meas_acc0 .arrowh {
  background-image: url(https://i.ibb.co/Zd3jtbc/lr.png); }
.meas_acc0 .arrowv {
  background-image: url(https://i.ibb.co/jHTtPDx/tb.png); }

.meas_acc0 .rectangledrawing.outer > .row > .corner {
  height: 50px;
  min-width: 50px;
}
.meas_acc0 .rectangledrawing.outer > .top > * {
  height: 50px; }
.meas_acc0 .rectangledrawing.outer > .bot > * {
  height: 50px; }
.meas_acc0 .rectangledrawing.outer > .mid > .left {
  height: auto;
  width: 50px; }
.meas_acc0 .rectangledrawing.outer > .mid > .right {
  height: auto;
  width: 50px; }

.meas_acc0 .arrow { -webkit-appearance: initial; }
.meas_acc0 .arrowh, .meas_acc0 .arrowv{
  width: 75px;
  height: 75px; }

.meas_acc0 .arrow:focus{ outline: none; }
.meas_acc0 .arrow:checked{
  filter: sepia(82%) saturate(3925%) hue-rotate(55deg) brightness(125%) contrast(120%); }

.meas_acc0 .directions {
  display: flex;
  flex-wrap: wrap;
  margin: auto; }
.meas_acc0 .directions > * { margin: auto; }
.meas_acc0 .draggable.boxroot{
  display: flex;
  flex-flow: column;
  /*height: 237px;*/
}
.meas_acc0 .collapse:not(.show) { display: none; }
.meas_acc0 .rule.template { display: none !important; }
.meas_acc0 .selected { background-color: #37ff66 !important; }

.meas_acc .rulesearch:focus {
  border: 1px solid dodgerblue;
  box-shadow: 0 0 0 1px dodgerblue;
}
