/*#damContextMenuTemplateContainer{
  position: absolute;
  /*right: 20000px;
  width: 2000px;
  height: 2000px;
  z-index: 1000;
}
#damContextMenuTemplateContainer::before{
  content:'';
  position: absolute;
  right: 0;
  width: 20px;
  height: 20px;
  background: red;
}*/
.overflowFix{
  position: absolute;
  top: -10000px;
  left: -10000px;
  width: 20000px;
  height: 20000px;
/*  opacity: 0.5;
  background: red;*/
  z-index: 1000;
  pointer-events: none;
}
.overflowFixContent{
  top: 0;
  left: 0;
  min-width: max-content;
  position: absolute;
  display: inline-block;
  max-height: 100vh;
  max-width: 100vw;
  overflow: visible;
  pointer-events: all;
}

.popupRight{ display: none; }
.popupRightParent.active > .popupRight,
.popupRightParent:hover > .popupRight,
.popupRightParent:focus-within > .popupRight {
  display: block;
}

.popupRight {
  white-space: nowrap;
  flex-wrap: nowrap;
  display: flex;
  padding-right: 10px; }

.refli .firstempty{
  width: 100%;
}

.refli button.byindex {
  margin-left: 5px;
}
.popupRightParent{
  position: relative;
}
.refli .index {
  padding-left: 3px;
  color: orange;
}
.refli .text{
  padding-left: 5px;
  padding-right: 5px;
}
button.refli.delete{
  padding: 0 4px;
  margin-left: auto;
  display: flex;
}
.popupRight {
  display: none;
  left: calc(100%);
  position: absolute;
  background: white;
  border: 1px solid black;
  border-left: none;
  padding: 2px 5px;
  padding-right: 0;
  top: 0;
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
}
ul.contextMenu{
  background-color: white;
  border: 1px solid black;
  border-radius: 7.5px;
  padding: 10px 0;
  /*padding: 10px 10px 10px 20px;*/
}
ul.contextMenu li.popupRightParent{
  cursor: not-allowed;
}

li:first-child{
  padding-top: 0;
}
ul.contextMenu li.separator{
  margin-top: 2px;
  height: 1px;
  padding: 0;
  background-color: gray;
  opacity: 0.4;
}
li:last-child{
  border-bottom: none;
}

span[tabindex], li{

  display: flex;
  align-items: center;
}
li{
  cursor: pointer;
  padding: 5px 20px;
  font-size: 0.75rem;
  color: var(--mainFontColor);
}

li:not(.unclickable):focus-within,
li:not(.unclickable).active,
li:not(.unclickable):hover{
  padding-left: 25px;
  padding-right: 15px;
  color: var(--color-4);
}
li:focus-within li,
li.active li,
li:hover li{
  display: flex;
  /*cursor: default;*/
  font-size: 0.75rem;
  padding-top: 4px;
  pading-bottom: 4px;
  padding-right: 15px;
  padding-left: 0;
  color: var(--mainFontColor); }

li:focus-within li:not(.unclickable):focus-within,
li:focus-within li:not(.unclickable):hover,
li:focus-within li:not(.unclickable).active,
li.active li:not(.unclickable).active,
li:hover li:not(.unclickable).active,
li.active li:not(.unclickable):hover,
li:hover li:not(.unclickable):hover{
  padding-left: 5px;
  padding-right: 10px;
  color: var(--color-4);
}

.typeli.dynamic, .refli.dynamic{
  cursor: pointer;
}
