<div id="colorSchemeEditorRoot" class="screenWideShadow" [ngStyle]="{display: 'none', visibility: (this.temporaryInvisible ? 'hidden' : 'visible')}">
  <div class="popupContent" style="min-width: 75vw;">
    <button class="btn btn-danger m-auto mr-2 p-0" style="width: 40px; height: 40px; position: absolute; right: 30px; top: 30px;" (click)="hide()">X</button>
    <div style="position: absolute; height: 100vw; right: 30px; top: 70px; background: inherit; border-left: 5px solid; border-color: var(--color-bg-1);">
      <div class="eye mt-2 p-0" style="height: 0; position: sticky; top:0; visibility: visible;" (mouseenter)="invisible()" (mouseleave)="visible()" (click)="hide()">
        <svg style="height: 40px; width: 40px; cursor: hand;" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="eye" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-eye fa-w-18 fa-lg"><path fill="currentColor" d="M572.52 241.4C518.29 135.59 410.93 64 288 64S57.68 135.64 3.48 241.41a32.35 32.35 0 0 0 0 29.19C57.71 376.41 165.07 448 288 448s230.32-71.64 284.52-177.41a32.35 32.35 0 0 0 0-29.19zM288 400a144 144 0 1 1 144-144 143.93 143.93 0 0 1-144 144zm0-240a95.31 95.31 0 0 0-25.31 3.79 47.85 47.85 0 0 1-66.9 66.9A95.78 95.78 0 1 0 288 160z" class=""></path></svg>
      </div>
    </div>
    <div class="d-flex w-100">
      <h1 class="d-inline-flex m-auto">Color scheme editor</h1>
    </div>
    <table class="table">
      <thead>
      <tr>
        <th style="width: min-content">Delete</th>
        <th style="width: min-content">Active</th>
        <th style="min-width: 150px;">Name</th>
        <th style="min-width: 220px;" title="to limit the activation scope of a color scheme">CSS scope selector</th>
        <th style="min-width: 150px;" title='To manually access this color scheme colors as css variables.\nUse "var(--" + prefix + colorIndex + ")" in css'>Color prefix</th>
        <th>Colors</th>
        <th>Add Colors</th>
        <th title="if many color schemes are conflicting due to same scope and access mode, the one with highest priority is applied">
          <div class="rowContainer"><div class="rowChildren">Priority</div><div class="rowChildren">(ascending)</div></div>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let cs of this.colorSchemes; index as csindex">
        <td class="">
          <button class="ruledelete btn btn-danger" (click)="this.remove(cs)">X</button>
        </td>
        <td class="">
          <input class="w-100" type="checkbox" (change)="this.toggleArchived(cs)" [checked]="cs.isActive">
        </td>
        <td class=""><input class="form-control input-group-text w-100" [value]="cs.name" (change)="this.changeName($event, cs)"/></td>
        <td class=""><input class="form-control input-group-text w-100" [value]="cs.selector" [placeholder]="cs.autoselector" (change)="this.changeSelector($event, cs)"/></td>
        <td class=""><input class="form-control input-group-text w-100" [value]="cs.colorPrefix" (change)="this.changeColorPrefix($event, cs)"/></td>
        <td class="p-0 rowcontainer">
          <div class="d-flex flex-wrap" style="margin:4px; justify-content: start;">
              <span *ngFor="let color of cs.foreColors; index as i">
                <input style="width: 30px; height: 30px; margin: 2.5px;" type="color" [value]="color" [attr.valuetest]="color" (change)="this.changeColor($event, cs, cs.foreColors, i)">
              </span>
          </div>
        </td>
        <td style="white-space: nowrap;">
          <button class="btn btn-outline-success p-0 mr-1" style="width: 30px; height: 30px" (click)="this.addColor($event, cs, cs.foreColors)">+</button>
          <button class="btn btn-outline-danger p-0" style="width: 30px; height: 30px" (click)="this.removeColor($event, cs, cs.foreColors)">-</button>
        </td>
        <td class="">
          <button class="d-block m-auto move btn btn-outline-secondary w-30 h-30 pt-0 pb-0" (click)="this.move($event, cs, csindex, -1)">↑</button>
          <button style="margin: auto" class="d-block move btn btn-outline-secondary w-30 h-30 pt-0 pb-0 mt-1" (click)="this.move($event, cs, csindex, +1)">⇣</button>
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="8"><button class="btn btn-success btn-lg w-100" (click)="addCS()">+</button></td>
      </tr>
      </tfoot>
    </table>

    <p style="white-space: pre;">{{this.styleStr}}</p>
    <style>{{this.styleStr}}</style>
  </div>
</div>
