/*@import '../src/themes/squaredTabs.css'; /* You can add global styles to this file, and also import other style files */
::-webkit-scrollbar {
  background-color: rgba(00, 132, 255, 0.1);
  /* background-color: var(--mainBorderColor); */
  width: 10px;  /* Remove scrollbar space */
  /* background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
/* resizable border */
/* example-specific */
.testresizablecontent {
  background-color: blue;
}
.resizableBorder.left { border-left: 5px solid green; }
.resizableBorder.right { border-right: 5px solid green; }
.resizableBorder.top { border-top: 5px solid red; }
.resizableBorder.bottom { border-bottom: 5px solid red; }
.template{ display: none !important; }
/* real css */
.resizableBorderContainer {
  background-color: black;
  display: flex;
  flex-flow: column;
}

.resizableStrip {
  min-width: 100%;
  height: fit-content;
  display: flex;
}
.resizableStrip.center{
  flex-grow: 1;
}


.resizableBorder.side.top, .resizableBorder.side.bottom {
  flex-basis: 0;
  flex-grow: 1;
  cursor: n-resize;
}

.resizableBorder.side.left, .resizableBorder.side.right {
  width: fit-content;
  height: auto;
  cursor: w-resize;
}

.resizableBorder.top.left { cursor: nw-resize; }
.resizableBorder.top.right { cursor: ne-resize; }
.resizableBorder.bottom.left { cursor: sw-resize; }
.resizableBorder.bottom.right { cursor: se-resize; }
/* others */
html{
  overflow:hidden;
}

body{
  min-width: 100vw;
  min-height: 100vh;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;

  color: #b2b2ba;
  font-family: Helvetica, OpenSans, sans-serif;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.4;
}
app-graph-tab-html{
  flex-grow: 1;
  position: relative;
  display: flex;
}
#MM_INPUT{
  display: none;
}

/* horizontal & vertical filler */
.verticalFiller, .horizontalFiller, .horizontalChild, .verticalChild{
  min-width: 0;
  flex-basis: 0;
  flex-grow: 1;
  overflow: auto;
}

.verticalFillingContainer, .verticalContainer{
  height: 100%;
  display: flex;
  flex-flow: column;
}
h1, h2, h3, h4, h5, h6{
  text-align: center;
}
button.duplicate:not(.btn), button.delete:not(.btn), button.remove:not(.btn), button.copy:not(.btn), button.paste:not(.btn), button.edit:not(.btn){
  border-radius: 50%;
  border: none;
  background-size: cover;
  background-color: black;
}
button.delete:not(.btn), button.remove:not(.btn) { background-image: url(../img/black/delete.png); }
button.duplicate:not(.btn), button.copy:not(.btn) { background-image: url(../img/black/duplicate.png); }
button.edit:not(.btn) { background-image: url(../img/black/edit.png); }
.horizontalFillingContainer, .horizontalContainer {
  display: flex;
  flex-flow: row;
}
.editorShell {
  position: relative;
}
.viewpointShell{
  padding: 0;
}
.viewpointShell * {
  color: #FFFFFF;
  text-shadow: 2px 2px 3px #4074b5, 2px -2px 3px #4074b5, -2px 2px 3px #4074b5, -2px -2px 3px #4074b5, 2px 0px 3px #4074b5, 0px 2px 3px #4074b5, -2px 0px 3px #4074b5, 0px -2px 3px #4074b5;
  text-shadow: 2px 2px 3px #000000, 2px -2px 3px #000000, -2px 2px 3px #000000, -2px -2px 3px #000000, 2px 0px 3px #000000, 0px 2px 3px #000000, -2px 0px 3px #000000, 0px -2px 3px #000000;
  text-shadow: 1px 1px 0px #777777, 1px -1px 0px #777777, -1px 1px 0px #777777, -1px -1px 0px #777777, 1px 0px 0px #777777, 0px 1px 0px #777777, -1px 0px 0px #777777, 0px -1px 0px #777777
}
.viewpointShell h6 {
  color: #FFFFFF;
  /*text-shadow: 2px 2px 3px #4074b5, 2px -2px 3px #4074b5, -2px 2px 3px #4074b5, -2px -2px 3px #4074b5, 2px 0px 3px #4074b5, 0px 2px 3px #4074b5, -2px 0px 3px #4074b5, 0px -2px 3px #4074b5;*/
  text-shadow: 1px 1px 1.3px #777777, 1px -1px 1.3px #777777, -1px 1px 1.3px #777777, -1px -1px 1.3px #777777, 1px 0px 1.3px #777777, 0px 1px 1.3px #777777, -1px 0px 1.3px #777777, 0px -1px 1.3px #777777;
}
.viewpointShell input{
  margin-top: auto;
  margin-bottom: auto;
}
/*others*/
::-webkit-scrollbar-thumb {
  background: #0084ff;
  border: 2px solid darkblue;
  border-radius: 5px;
}

.mainRow{
  flex-grow: 1;
}
.mconsole, .mmconsole{
  border-top: var(--mainBorder);
  background-color: var(--mainBackgroundColor);
  overflow-y: auto;
  flex-grow: 0;
  /*position: fixed;
  bottom: 0;*/
  height: 100%;
  width: 100%;}
.todo{
  background-color: darkred !important;
  cursor: not-allowed !important;
}
.todo>*, .todo *{
  cursor: not-allowed !important;
}
.Vertex select{
  text-align-last: end;
}

.alertcontainer{
  position: fixed;
  display: flex;
  top: 0;
  height: 200%;
  width: 100%;
  max-height: 100vh;
  overflow: hidden;
  left: 0;
  z-index: 100000;
  pointer-events: none;
  flex-wrap: wrap;
  flex-flow: column;
}
.alertcontainer > * {
  pointer-events: all; }
.alertshell{
  margin:auto;
  padding-left: 30px;
  padding-right: 30px;
}
.alert{
  margin-bottom: 5px;
}

.UtabContainer{
  flex-grow: 1;
  flex-basis: 0;
  overflow: auto;
  display: flex;
  flex-flow: column;
}
.UtabContentContainer{
  flex-grow: 1;
  flex-basis: 0;
  overflow: auto;
}
.UtabContent{
  position: relative;
  height: 100%;
  overflow-y: auto;
  overflow-x: auto;
  padding: 17px;
  padding-right: calc(17px - 10px); /*for scrollbar ?*/
  flex-grow: 1;
}
.UtabContent.main{
  padding:0;
}
.UtabHeader{
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 6px;
  margin-left: 0;
  /*
  border: var(--mainBorder);
  */
  background-color: var(--mainBackgroundColor);
  flex-flow: column;
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  text-align: center;
}
.UtabHeader:last-of-type{ margin-right: 0; }
.UtabHeader[selected="true"]{
  font-weight: bold;
  background-color: var(--mainBorderColor);
}
.UtabHeaderContainer{
  background-color: var(--mainBorderColor);
  padding: 0;
  margin: 0;
  display: flex;}
/* for squared */
/* for squared end*/
/* glowing tab headers* /
.UtabHeader {
  border: none !important;
  margin: 2px !important;
  margin-top: 4px !important;
  margin-bottom: 4px !important;
  box-shadow: 2px 2px 3px #506894, 2px -2px 3px #506894, -2px 2px 3px #506894, -2px -2px 3px #506894, 2px 0px 3px #506894, 0px 2px 3px #506894, -2px 0px 3px #506894, 0px -2px 3px #506894;
  box-shadow: 2px 2px 3px #606373, 2px -2px 3px #606373, -2px 2px 3px #606373, -2px -2px 3px #606373, 2px 0px 3px #606373, 0px 2px 3px #606373, -2px 0px 3px #606373, 0px -2px 3px #606373;
}
.UtabHeader[selected="true"] {
  box-shadow: 2px 2px 3px #606373, 2px -2px 3px #606373, -2px 2px 3px #606373, -2px -2px 3px #606373, 2px 0px 3px #606373, 0px 2px 3px #606373, -2px 0px 3px #606373, 0px -2px 3px #606373;
  box-shadow: 2px 2px 3px #506894, 2px -2px 3px #506894, -2px 2px 3px #506894, -2px -2px 3px #506894, 2px 0px 3px #506894, 0px 2px 3px #506894, -2px 0px 3px #506894, 0px -2px 3px #506894;
  box-shadow: none;
}
/* glowing tab headers end*/
.sidebarShell:first-child {
  padding-top: 15px;
  padding-left: 10px;
}
.sidebarShell {
  padding: 0; /*required for U.resizingBorders*/
}



/****/
