<div id='topbarShell'>
  <div id='topbar'>
    <div class="dropdownContainer">
      <button class="todo dropdownTitle">User</button>
      <ul class="dropdownContent">
        <li class="dropdownContent"><div class="todo dropdownpadding">Logout</div></li>
        <li class="dropdownContent"><div class="todo dropdownpadding">Preferences</div></li>
        <li class="dropdownContent"><div class="todo dropdownpadding">Account</div></li>
      </ul>
    </div>
    <div class="dropdownContainer">
      <button class="dropdownTitle">Meta-Metamodel</button>
      <ul class="dropdownContent">
        <li class="dropdownContent"><div class="dropdownpadding TypeMapping">Type mapping</div></li>
        <li class="dropdownContent"><div class="todo dropdownpadding VertexStyle">Vertex Style</div></li>
        <li class="dropdownContent"><div class="todo dropdownpadding EdgeStyle">Edge Style</div></li>
      </ul>
    </div>
    <div class="dropdownContainer metamodel">
      <button class="dropdownTitle">Metamodel</button>
      <ul class="dropdownContent">
        <li class="dropdownContent"><div class="dropdownpadding save">Save</div></li>
        <li class="dropdownContent">
          <div class="dropdownContainer right">
            <div class="dropdownTitle right">Recent</div>
            <ul class="dropdownContent right recentSaveContainer">
              <li class="dropdownContent right"><div class="dropdownpadding recentsave">example 1</div></li>
              <li class="dropdownContent right"><div class="dropdownpadding recentsave">example 2</div></li>
              <li class="dropdownContent right"><div class="dropdownpadding recentsave">example 3</div></li>
              <li class="dropdownContent right"><div class="dropdownpadding recentsave">example 4</div></li>
            </ul>
          </div>
        </li>
        <li class="dropdownContent">
          <div class="dropdownContainer right">
            <div class="dropdownTitle right">Export</div>
            <ul class="dropdownContent right">
              <li class="dropdownContent right">
                <div class="dropdownpadding download_JSON_String">To eCore/JSON string</div></li>
              <li class="dropdownContent right">
                <div class="dropdownpadding download_JSON">Download eCore/JSON file</div></li>
              <li class="dropdownContent right">
                <div class="dropdownpadding download_XMI">Download eCore/XMI file</div></li>
            </ul>
          </div>
        </li>
        <li class="dropdownContent">
          <div class="dropdownContainer right">
            <div class="dropdownTitle right">Import</div>
            <ul class="dropdownContent right">
              <li class="dropdownContent right"><div class="dropdownpadding loadEmpty">New empty metamodel</div></li>
              <li class="dropdownContent right"><div class="dropdownpadding loadFile">From file (eCore/XMI)</div></li>
              <li class="dropdownContent right"><div class="dropdownpadding loadTxt">From text (eCore/JSON)</div></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <div class="dropdownContainer model">
      <button class="dropdownTitle">Model</button>
      <ul class="dropdownContent">
        <li class="dropdownContent"><div class="dropdownpadding save">Save</div></li>
        <li class="dropdownContent">
          <div class="dropdownContainer right">
            <div class="dropdownTitle right">Recent</div>
            <ul class="dropdownContent right recentSaveContainer">
              <li class="dropdownContent right"><div class="dropdownpadding recentsave">example 1</div></li>
              <li class="dropdownContent right"><div class="dropdownpadding recentsave">example 2</div></li>
              <li class="dropdownContent right"><div class="dropdownpadding recentsave">example 3</div></li>
              <li class="dropdownContent right"><div class="dropdownpadding recentsave">example 4</div></li>
            </ul>
          </div>
        </li>
        <li class="dropdownContent">
          <div class="dropdownContainer right">
            <div class="dropdownTitle right">Export</div>
            <ul class="dropdownContent right">
              <li class="dropdownContent right">
                <div class="dropdownpadding download_JSON_String">To eCore/JSON string</div></li>
              <li class="dropdownContent right">
                <div class="dropdownpadding download_JSON">Download eCore/JSON file</div></li>
              <li class="dropdownContent right">
                <div class="dropdownpadding download_XMI">Download eCore/XMI file</div></li>
            </ul>
          </div>
        </li>
        <li class="dropdownContent">
          <div class="dropdownContainer right">
            <div class="dropdownTitle right">Import</div>
            <ul class="dropdownContent right">
              <li class="dropdownContent right"><div class="dropdownpadding loadEmpty">New empty model</div></li>
              <li class="dropdownContent right"><div class="dropdownpadding loadFile">From file (eCore/XMI)</div></li>
              <li class="dropdownContent right"><div class="dropdownpadding loadTxt">From text (eCore/JSON)</div></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <div class="dropdownContainer graph">
      <button class="dropdownTitle">Graph</button>
      <ul class="dropdownContent">
        <li class="buttonGridContainer">
          <div class="dropdownpadding buttonGridMinMargin"><div class="buttonGrid">Mono-Select</div></div>
          <div class="dropdownpadding buttonGridMinMargin"><div class="buttonGrid todo">Multi-Select</div></div>
          <div class="dropdownpadding buttonGridMinMargin"><div class="buttonGrid">Drag</div></div>
          <div class="dropdownpadding buttonGridMinMargin"><div class="buttonGrid">Mono-Select</div></div>
          <div class="dropdownpadding buttonGridMinMargin"><div class="buttonGrid todo">Multi-Select</div></div>
          <div class="dropdownpadding buttonGridMinMargin"><div class="buttonGrid">Drag</div></div>
          <div class="dropdownpadding buttonGridMinMargin"><div class="buttonGrid">Mono-Select</div></div>
          <div class="dropdownpadding buttonGridMinMargin"><div class="buttonGrid todo">Multi-Select</div></div>
          <div class="dropdownpadding buttonGridMinMargin"><div class="buttonGrid">Drag</div></div>
          <div class="dropdownpadding buttonGridMinMargin"><div class="buttonGrid">Mono-Select</div></div>
          <div class="dropdownpadding buttonGridMinMargin"><div class="buttonGrid todo">Multi-Select</div></div>
          <div class="dropdownpadding buttonGridMinMargin"><div class="buttonGrid">Drag</div></div>

        </li>
      </ul>
    </div>
  </div>
  <div id="TypeMapper" class="screenWideShadow" data-closebuttontarget="1">
    <div id="TypeMapperContent" class="popupContent">
      <h1>M3 Type mapping</h1>
      <button class="closeButton" data-closebuttontarget="1">X</button>
      <br>
      <div class="TypeList"></div>
    </div>
  </div>
</div>
